parameters:
    level: 1
    paths:
        - tests
        - src

includes:
    - vendor/phpat/phpat/extension.neon
    - phpstan-baseline.neon

services:
    -
            class: ArchitectureTests\SomeTest
            tags:
                - phpat.test